page-fauna {
    ion-slides{
        height:auto;
    }
    #card-title {
        position: absolute;
        text-align: left;
        text-indent: 5px;
        top: 70%;
        font-size: 1.3em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
    #card-subtitle {
        position: absolute;
        text-align: left;
        text-indent: 5px;
        top: 70%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }
}
