page-home {
    .titulo{
        color:#333;
        text-align:center;
    }
    ion-content {
    background: #488aff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .user-avatar {
    max-width: 125px;height: 125px;
    padding: .5em;
  }
  button{
    background: white;
  }
  .scroll-content {
    background-color:white;
  }
  h6 {
    color:black;
    font-weight: normal;
    font-size: 14px;
    font-family: Arial;
  }

}
