page-miguel-popover {
    #textbox {
        text-align: justify;
        height: 160px !important;
        width: 210px !important;
        font-size: 12px !important;
        margin: 2;
        padding: 2;
        white-space: normal;
        }
}
